In [2]:
import download

In [3]:
eviction_df = download.load_evict()

In [4]:
eviction_df.head()

,filing_year,tract,eviction_filings_total,eviction_filings_rate,eviction_filings_completed,case_type_single_action,case_type_joint_action,back_rent_median,back_rent_0,back_rent_1_to_999,...,ftu_no_outcome_tenant_prose,ftu_eviction_order_tenant_represented,ftu_other_outcome_tenant_represented,ftu_no_outcome_tenant_represented,default_eviction_order_yes,default_eviction_order_no,default_eviction_order_yes_tenant_prose,default_eviction_order_no_tenant_prose,default_eviction_order_yes_tenant_represented,default_eviction_order_no_tenant_represented
0,2010-01-01,17031010100,119,5.99,116,14,102,2334.56,14,16,...,50,1,0,6,27,89,27,82,0,7
1,2010-01-01,17031010201,82,4.66,77,10,67,2559.60,10,12,...,33,0,0,6,9,68,9,62,0,6
2,2010-01-01,17031010202,58,6.45,57,3,54,1916.84,3,6,...,26,0,0,4,6,51,6,47,0,4
3,2010-01-01,17031010300,78,3.96,75,9,66,1975.61,9,5,...,33,0,0,6,9,66,8,61,1,5
4,2010-01-01,17031010400,42,2.82,41,3,38,2180.00,2,3,...,19,0,0,4,6,35,6,31,0,4